<p>All numbers in array: </p>
<ul>
    @foreach (int n in ViewBag.Numbers)
    {
        <li>@n</li>
    }
</ul>
<p>
    Number of integers in the array: @ViewBag.CountNumber
</p>
<p>
    Largest number: @ViewBag.MaxNumber
</p>
<p>
    Smallest number: @ViewBag.MinNumber
</p>
<p>
    Sum of numbers: @ViewBag.SumNumbers
</p>
<p>
    Average of numbers: @ViewBag.AverageNumbers
</p>